<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>TrumpWatch</title>
    <meta property="og:url"           content="http://programmingdemocracy.org/trumpwatch/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="TrumpWatch" />
    <meta property="og:description"   content="Daily summary of Trump's Administration" />
    <meta property="og:image"         content="http://programmingdemocracy.org/trumpwatch/site.jpg" />
    <meta property="og:image:width"   content="200">
    <meta property="og:image:height"   content="183">    

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <style>
      .md-list-item-text { line-height: 18px; padding-bottom: 12px; padding-top: 12px }
    </style>
  </head>
  <body ng-app="TrumpActionsApp" ng-cloak>
    <div ng-controller="TrumpActionsController as ctrl" layout="column" flex="" layout-fill="">

      <md-toolbar md-scroll-shrink="" layout="row" class="md-hue-2">
        <div class="md-toolbar-tools">
          <h2><span>TrumpWatch</span></h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Share" ng-click="ctrl.share()">
            <md-icon md-font-set="material-icons">share</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Info">
            <md-icon md-font-set="material-icons">info</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-content>

        <md-section ng-repeat="entry in ctrl.actions">
          <md-subheader class="md-accent">{{entry.date}}</md-subheader>
          <md-list class="md-dense">
            <div ng-repeat="action in entry.actions">
              <md-list-item ng-click="action.open = !action.open">
                <div class="md-list-item-text">{{action.desc}}</div>
              </md-list-item>
              <ul ng-if="action.open">
                <span ng-repeat="source in action.sources">
                  <a href="{{source}}" target="_blank">{{source}}</a>
                </span>
              </ul>
            </div>
          </md-list>
          <md-divider></md-divider>
        </md-section>
      </md-content>

    </div>
    <script src="data.js"></script>
    <script src="app.js"></script>
  </body>
</html>
